/* 
font-family: 'Open Sans', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
 */
  /* ============================ */
 /********* Default CSS **********/
/*==============================*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    background: #0c0b09;
    color: #fff;
}
/* html{
    font-size: 62.5%;
} */
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", serif;
}
  /* ============================ */
 /*********   Banner     *********/
/*==============================*/

.banner{
    width: 100%;
    height: 100vh;
    background: url(../images/banner-bg.jpg) top center;
    background-size: cover;
    position: relative;
    padding: 0;
    z-index: 1;
}
.banner::after,
.events::after{
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}
  /* ============================ */
 /********* Top Bar Top  *********/
/*==============================*/
.topbar i{
    color: #CDA45E;
}
.c-change li a{
    color: #CDA45E;
}
  /* ============================ */
 /********* Nav Bar Top  *********/
/*==============================*/
.header{
    background: rgba(12, 11, 9, 0.6);
    border-bottom: 1px solid rgba(12, 11, 9, 0.6);
}
.logo{
    color: #fff;
    font-size: 2rem;
    text-transform: uppercase;
}
.logo:hover{
    color: #CDA45E;
}
.nav-link{
    color: #fff;
    font-size: 1rem;
}
.nav-link:focus,
.nav-link:hover,
.nav-link.active{
    color: #CDA45E;
}
.btn1 {
    border: 0.2rem solid #CDA45E;
    padding: .4rem 1.5rem;
    display: block;
    text-transform: uppercase;
    border-radius: 40px;
    background: transparent;
    color: #fff;
}
.btn1:hover{
    background: #CDA45E;
    transition: 1s;
}
.justify{
    color: #fff;
    font-size: 30px;
}

  /* ============================ */
 /*********     middle   *********/
/*==============================*/
.middle{
    height: 100%;
    align-items: center;
}
.middle h1{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 0;
}
.middle h1 span{
    color: #CDA45E;
}
.middle h2{
    font-size: 22px;
    color: #eee;
}
.play-btn{
    width: 94px;
    height: 94px;
    background: radial-gradient(#cda45e 50%, rgba(205, 164, 94, 0.4) 52%);
    border-radius: 50%;
    display: block;
    position: relative;
    overflow: hidden;
}
.play-btn::after{
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #fff;
    transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.play-btn::before{
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    background: rgba(198, 16, 0, 0);
    border-radius: 50%;
    border: 5px solid rgba(205, 164, 94, 0.7);
    top: -15%;
    left: -15%;
    opacity: 1;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation: pulsate-btn 2s;
    animation: pulsate-btn 2s;
    -webkit-animation-direction: forwards;
    animation-direction: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: steps;
    animation-timing-function: steps;
}
.play-btn:hover::after{
   border-left: 15px solid #cda45e;
   transform: scale(20);
}
.play-btn:hover::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border: none;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 200;
    -webkit-animation: none;
    animation: none;
    border-radius: 0;
  }
  
@-webkit-keyframes pulsate-btn {
    0% {
      transform: scale(0.6, 0.6);
      opacity: 1;
    }
    100% {
      transform: scale(1, 1);
      opacity: 0;
    }
  }
  
  @keyframes pulsate-btn {
    0% {
      transform: scale(0.6, 0.6);
      opacity: 1;
    }
    100% {
      transform: scale(1, 1);
      opacity: 0;
    }
}
  /* ============================ */
 /*********   About      *********/
/*==============================*/
.about{
    background: url(../images/about-bg.jpg) no-repeat scroll 0 0 / cover;
    position: relative;
    z-index: 1;
}
.about::after{
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.about h3{
    font-weight: 600;
    font-size: 26px;
}
.about ul li{
    font-size: 18px;
    padding-bottom: 10px;
}
.check-circle{
    color: #CDA45E;
    font-size: 20px;
    padding-right: 5px;
}
.about-img{
    position: relative;
    transition: .5s;
}
.about-img img{
    max-width: 100%;
    border: 0.4rem solid rgba(255, 255, 255, 0.2) ;
}
.about-img:hover{
    transform: scale(1.03);
}
.about .about-img::before {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 60px;
    height: 60px;
    z-index: 1;
    content: "";
    border-left: 5px solid #cda45e;
    border-top: 5px solid #cda45e;
    transition: 0.5s;
}
.about .about-img:hover::before{
    top: 10px;
    left: 10px;
}
.about .about-img::after{
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 60px;
    height: 60px;
    z-index: 1;
    content: "";
    border-right: 5px solid #cda45e;
    border-bottom: 5px solid #cda45e;
    transition: 0.5s;
}
.about .about-img:hover::after{
    right: 10px;
    bottom: 10px;
}
  /* ============================ */
 /*********     Why Us   *********/
/*==============================*/
.section-title {
    padding-bottom: 20px;
}
.section-title h2{
    color: #aaaaaa;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
}
.section-title h2::after {
    content: "";
    width: 120px;
    height: 1px;
    background: rgba(255, 255, 255, 0.2);
    display: inline-block;
    margin: 4px 10px;
}
.section-title p{
    color: #cda45e;
    font-size: 36px;
    font-weight: 700;
    font-family: "Playfair Display", serif;
}
.change{
    color: #cda45e;
    display: block;
    font-weight: 700;
    font-size: 28px;
}
.details-chng h4 {
    color: rgba(255, 255, 255, 0.8);
    font-size: 24px;
    font-weight: 600;
    margin: 20px 0;
}
.details-chng p{
    color: #aaaaaa;
    font-size: 15px;
    margin: 0;
    padding: 0;
}
.details-chng{
    transition-delay: 1s;
    transition: 1s;
    background: #1a1814;
    padding: 50px 30px;
}
.details-chng:hover .change,
.details-chng:hover h4,
.details-chng:hover p{
    color: #fff;
}

.details-chng:hover {
    background: #cda45e;
    padding: 30px 30px 70px 30px;
}
  /* ============================ */
 /*********      Menu    *********/
/*==============================*/
.menu{
    background: #1a1814;
}
.menu-filters li {
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    padding: 8px 12px 10px 12px;
    display: inline-block;
    cursor: pointer;
}
.menu-filters li:hover,
.menu-filters .filters-active{
    color: #cda45e;
}

.menu-item {
    margin-top: 50px;
}
.menu-item img {
    width: 70px;
    border: 5px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    float: left;
}
.menu .menu-content a {
    padding-right: 10px;
    background: #1a1814;
    position: relative;
    z-index: 3;
    font-weight: 700;
    color: white;
    transition: 0.5s;
  }
.menu .menu-content a:hover{
    color: #cda45e;
}
  .menu .menu-content span {
    background: #1a1814;
    position: relative;
    z-index: 3;
    padding: 0 10px;
    font-weight: 600;
    color: #cda45e;
  }
.menu .menu-content {
    margin-left: 85px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  .menu .menu-content::after {
    content: "......................................................................" "...................................................................." "....................................................................";
    position: absolute;
    left: 20px;
    right: 0;
    top: -4px;
    z-index: 1;
    color: #bab3a6;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  }
.menu-ingredients{
    color:  rgba(255, 255, 255, 0.5);
    font-weight: 600;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    margin-left: 85px;
    font-style: italic;
}
  /* ============================ */
 /*********   Specials   *********/
/*==============================*/
.specials-list li a {
    font-weight: 600;
    font-size: 15px;
    padding: 12px 15px;
    border-right: 2px solid #cda45e;
    transition: .3s;
}
.specials-list .nav-link:hover {
    color: #cda45e;
  }
  .specials-list .nav-link.active {
    color: #1a1814;
    background: #cda45e;
    border-color: #cda45e;
  }
  
  .special-details h3 {
    color: #fff;
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 20px;
}
.special-details p{
    color: #aaaaaa;
}
.first-italic{
    font-style: italic;
}
.img-fluid{
    max-width: 100%;
    height: auto;
}
  /* ============================ */
 /*********    Events    *********/
/*==============================*/
.events{
    background: url(../images/events-bg.jpg) center center no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.event-details h3{
    font-weight: 600;
    font-size: 26px;
    color: #cda45e;
}
.event-details .price span {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 26px;
    border-bottom: 2px solid #cda45e;
}
.event-details ul li {
    padding-bottom: 10px;
}
.event-p {
    margin-top: 10px;
}
.events-slider.swiper.mySwiper.swiper-initialized.swiper-horizontal.swiper-pointer-events.swiper-backface-hidden {
    padding-bottom: 50px;
}
.swiper-pagination-bullet {
    width: 12px !important;
    height: 12px !important;
    background: rgba(255,255,255,0.4) !important;
}

.swiper-pagination-bullet-active {
    background: #cda45e !important;
}
  /* ============================ */
 /********* Book A Table *********/
/*==============================*/
.form-work {
    padding-bottom: 8px;
}
.form-work input {
    height: 44px;
    font-size: 14px;
    background: #0c0b09;
    border-radius: 0;
    box-shadow: none;
    border-color: #625b4b;
    color: #fff;
}
.form-work input::placeholder,
.text-work textarea::placeholder{
    color: #a49b89;
}
.form-work input:focus,
.text-work textarea:focus{
    background-color: #0c0b09;
    border-color: #cda45e;
    box-shadow: none;
    color: #fff;
}
.form-work input{
    caret-color: #fff;
}
.text-work textarea {
    background: #0c0b09;
    font-size: 14px;
    border-radius: 0;
    border-color: #625b4b;
    color: #fff;
}
.form-button button {
    text-transform: none;
    background: #cda45e;
}
.error-message {
    background: #ed3c0d;
    border-radius: 0;
    font-weight: 600;
}
  /* ============================ */
 /********* Testimonial  *********/
/*==============================*/
.testimonials{
    background-color: #1a1814;
}

.testimonial-card {
    font-style: italic;
    color: #fff;
    padding: 20px 20px 60px 20px;
    background: #26231d;
}
.testi-icon {
    color: #d3af71;
    font-size: 23px;
    padding-right: 6px;
}
.testi-right {
    padding-left: 6px;
}
.testi-card-details {
    position: relative;
}
.testi-card-details img {
    width: 90px;
    border-radius: 50%;
    margin: -50px 0 0 40px;
    position: absolute;
    border: 6px solid rgba(255, 255, 255, 0.2);
}
.testi-card-details h3 {
    padding-top: 50px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    margin: 0 0 5px 45px;
}
.testi-card-details h4 {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
    margin: 0 0 0 45px;
}
.row.swiper.mySwiper-testimonials.swiper-initialized.swiper-horizontal.swiper-pointer-events.swiper-free-mode.swiper-backface-hidden {
    padding-bottom: 70px;
}
  /* ============================ */
 /*********** Gallery  ***********/
/*==============================*/
.gallery-item {
    overflow: hidden;
   border-right: 3px solid #454035;
   border-bottom: 3px solid #454035;
}
.gallery-item a img{
    max-width: 100%;
    height: auto;
    transition: all ease-in-out 0.4s;
    padding-right: 0;
    padding-left: 0;
}
.bou>* {
    padding-right: 0;
    padding-left: 0;
}
.gallery-item a:hover img{
    transform: scale(1.1);
}
  /* ============================ */
 /************* Chefs  ***********/
/*==============================*/
.member {
    position: relative;
    text-align: center;
    margin-bottom: 20px;
    background: #343a40;
    overflow: hidden;
    z-index: 1;
}
.member::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.8) 20%, rgba(0, 212, 255, 0) 100%);
    opacity: .35;
}

.chefs .member:hover .member-info{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.8) 20%, rgba(0, 212, 255, 0) 100%);
    opacity: 1;
    transition: 0.4s;
}
.member img{
    max-width: 100%;
    height: auto;
}
.shali>* {
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
}
.member .member-info {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    transition: .5s;
    z-index: 1;
}
.member:hover .member-info{
    display: block;
}
.member-info-contact h4{
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    margin-bottom: 2px;
}
.member-info-contact span{
    font-style: italic;
    font-size: 13px;
    color: #fff;
    display: block;
}
.member-info-social a i {
    color: #fff;
    margin: 18px 12px 0;
    font-size: 18px;
    display: inline-block;
    transition: color 0.3s;
    margin-bottom: 25px;
}
.member-info-social a:hover i{
    color: #cda45e;
}
.member-info:hover .member-info-contact{
    bottom: 60px;
}
.member-info:hover .member-info-social{
    bottom: 0;
}
.member-info-contact{
    transition: bottom 0.5s;
}
.member-info-social{
    transition: bottom ease-in-out 0.5s;
}
  /* ============================ */
 /*********** Contact  ***********/
/*==============================*/
.contact-map iframe {
    border: 0;
    width: 100%;
    height: 350px;
}
.information{
    width: 100%;
}
.location,.open-hours,.email,.phone{
    margin-top: 40px;
}
.info-icon {
    font-size: 20px;
    color: #fff;
    float: left;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: #cda45e;
    display: flex;
    transition: all 0.3s ease-in-out;
}
.information h4 {
    font-size: 18px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    padding: 0 0 0 60px;
    margin-bottom: 5px;
}
.information p {
    color: #bab3a6;
    font-size: 14px;
    padding: 0 0 0 60px;
}



.con-form {
    background: transparent;
    border-radius: 0;
    border-color: #625b4b;
    font-size: 14px;
    color: #fff;
    font-weight: 400;
}
.con-form:focus {
    background: transparent;
    border-color: #cda45e;
    box-shadow: none;
    color: #fff;
}
.con-form::placeholder{
    color: #a49b89;
}
.form-height{
    height: 44px;
}
.con-button {
    padding: 10px 35px;
    border: 0;
    background: #cda45e;
    border-radius: 50px;
    color: #fff;
    transition: .5s;
}
.con-button:hover {
    background: #cda47e;
    color: #fff;
}
  /* ============================ */
 /***********  Footer  ***********/
/*==============================*/
.footer-top {
    background: #0c0b09;
    border-top: 1px solid #37332a;
    border-bottom: 1px solid #28251f;
    padding: 60px 0 60px 0;
}
.footer-info h3 {
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 24px;
    line-height: 1;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
}
.footer-info .adam {
    margin-bottom: 23px;
}
.footer-info .phone {
    line-height: 27px;
}
.footer-info p{
    font-size: 14px;
    font-family: 'Playfair Display', serif;
    color: #fff;
}
.footer-info ul li a {
    color: #fff;
    float: left;
    width: 36px;
    height: 36px;
    background: #28251f;
    margin: 4px 6px 0 0;
    padding: 6px 0;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    transition: .5s;
}
.footer-info ul li:hover a{
    background: #cda45e;
}

.footer-details h4 {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 12px;
}
.footer-details-nav ul li i {
    color: #cda45e;
    margin-right: 10px;
    font-size: 14px;
}
.footer-details-nav ul li a {
    color: #fff;
    padding: 0 0 14px 0;
    display: inline-block;
    font-size: 14px;
}
.footer-details-nav ul li a:hover{
    color: #cda45e;
    transition: .4s;
}
.footer-details p{
    color: #fff;
    font-size: 14px;
}
.footer-details form {
    margin-top: 30px;
    padding: 6px 10px;
    border: 1px solid #454035;
    background: #28251f;
    border-radius: 30px;
    position: relative;
}
.footer-form {
    width: 67%;
    border: 0;
    background: #28251f;
    color: #fff;
    padding: 4px 0;
}
.footer-form-button {
    background: #cda45e;
    padding: 9px 20px;
    position: absolute;
    top: -1px;
    right: -1px;
    color: #fff;
    font-size: 16px;
    border-radius: 50px;
}
/* footer */
.footer-bottom p {
    text-align: center;
    padding-top: 30px;
    font-size: 14px;
}
.footer-bottom p span {
    font-weight: bolder;
}
.footer-bottom .modify {
    padding-top: 0px;
    padding-bottom: 20px;
}
.footer-bottom .modify a{
    color: #cda45e;
}
/* footer */